# Ignorer les fichiers compilés Python
*.pyc
*.pyo
*.pyd

# Ignorer les dossiers __pycache__ dans tous les répertoires
__pycache__/

# Ignorer les dossiers .pytest_cache (cache pytest)
.pytest_cache/

# Ignorer les environnements virtuels (exemple)
venv/
.env/

# Ignorer les fichiers de logs
*.log

.well-known/
init/cequejapprend.txt
documentationetétapes.txt